version: "3.9"

services:
  api:
    build: .
    container_name: ai_assistant_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - vault
    volumes:
      - ./app:/app/app 
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      VAULT_ADDR: http://vault:8200
      JWT_SECRET_KEY: root # пока для dev
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  vault:
    image: hashicorp/vault:1.21.1
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
    command: vault server -dev -dev-root-token-id=root -dev-listen-address=0.0.0.0:8200