openai
python-dotenv
google-genai
pydantic
pydantic_settings
fastapi
uvicorn
redis
python-jose
passlib
bcrypt==4.0.1
hvac
prometheus-client
pypdf
tiktoken
alembic
sqlalchemy
asyncpg
pgvector
greenlet
qdrant_client
python-multipart
faiss-cpu
aiohttp
torch
transformers
datasets
accelerate
bitsandbytes
lfs
pillow
peft